<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850423324254-q8ov39gpv6sjgam2hoai18j8jgitvdi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850423324254-q8ov39gpv6sjgam2hoai18j8jgitvdi8</string>
	<key>API_KEY</key>
	<string>AIzaSyC5ASSPCcUmH3fv5gN71z3KYefiRJHTCIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>850423324254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appsbunches.goldenrose22</string>
	<key>PROJECT_ID</key>
	<string>golden-rose-2</string>
	<key>STORAGE_BUCKET</key>
	<string>golden-rose-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850423324254:ios:b684d5cba0baeb7e17decf</string>
</dict>
</plist>